body {
  font-family: system-ui, sans-serif;
}



header{
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px;
  pading: 25px;
  text-wrap: wrap;
}
.logo{
  text-size-adjust: 20px;
  display: flex;
  float: right;
}

ul{
 display: flex;
 gap: 20px;
 margin-top: auto;
 text-decoration: none;

}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover,
a:focus {
  background-color: #ebe4e4;
  color: #333;
}

p{
  justify-content: center;
}
