*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Reddit Mono', sans-serif;

}
body {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1080px;
}

.container{
  margin: 0 auto;
  padding: 0 10px;
  max-width: fit-content;
 
}
@media (max-width: 744px) {
  .left-header {
    width: 100%;
    text-align: center;
  }
}
header {
  display: flex;
  justify-items: flex-end;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  text-wrap: wrap;
  align-items: center;
}
h1,
logo {
  text-size-adjust: 40px;
  align-content: center;
}
h1,
h3,
div {
  text-align: center;
}

ul {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: auto;
  text-decoration: none;
}
li {
  list-style: none;
  flex-wrap: wrap-reverse;
}

a {
  text-decoration: none;
  color: black;
}

a:hover,
a:focus {
  background-color: #ebe4e4;
  color: #333;
}

div,
.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
img {
  width: 100%;
  object-fit: contain;
}

p {
  text-align: justify;
  height: 100%;
}
image-responsif {
  display: flex;
  display: block;
  border-radius: 5px;
}

label,
ion-icon {
  margin: 4px;
  padding: 4px;
  display: flexbox;
}
ion-icon {
  size-adjust: 40px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
  padding: 12px;
  color: darkgrey;
}
