/* Add a black background color to the top navigation */
.topnav {
    background-color: #f5f1f1;
    overflow: hidden;
    color: black;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #e9e4e4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #8b8d81c7;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }